<div class="header" style="text-align: center; padding-top: 2%;">
  <h1 class="header-text">Keep Track of Who Owe You!</h1>
  <p class="header-text">
    A wise man once said "Need my bread on time, don't care if you owe me 50 cents"
  </p>
  <p>
    <%= link_to 'Sign Up', signup_path, class: 'btn btn-success'%>
  </p>
  <p>

  </p>
</div>
